@{
    ViewBag.Title = "DeleteMovie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DeleteMovie</h2>


<div class="centered" style="margin-left:10px;margin-top:70px;width:50%">


    <form class="form-horizontal" action="~/AdminPanel/DelMovie" method="post">
        <fieldset>
            <legend>Delete Movie</legend>
            <div class="form-group">
                <label for="inputTitle" class="col-lg-2 control-label">Title</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="title" placeholder="Movie Title">

                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
