
@{
    ViewBag.Title = @ViewBag.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:70px">
    
    <h3>@ViewBag.Status</h3>
    <a href="~/AdminPanel/Index">Back to Admin Panel</a>
</div>



