@{
    ViewBag.Title = "UpdateMovie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="centered" style="margin-left:10px;margin-top:70px;width:50%">


    <form class="form-horizontal" action="~/AdminPanel/UpMovie" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Update Movie</legend>
            <div class="form-group">
                <label for="inputTitle" class="col-lg-2 control-label">Title</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="title" placeholder="Movie Title">

                </div>
            </div>

            <div class="form-group">
                <label for="inputDescription" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="desc" placeholder="Description">
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Selects</label>
                <div class="col-lg-10">
                    <select class="form-control" name="cate">
                        <option>Animated</option>
                        <option>Action</option>
                        <option>Horror</option>
                        <option>Adventure</option>
                        <option>Bollywood</option>
                    </select>
                    <br>
                </div>
            </div>


            <div class="form-group">
                <label for="inputFile" class="col-lg-2 control-label">Picture</label>
                <div class="col-lg-8">
                    <input type="file" class="form-control" name="file" placeholder="Image">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
