@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center style="margin-top:100px">
    <div class="alert alert-dismissible alert-info">
        <h2><strong>Movie Cinema Website</strong></h2>
        <br />

    </div>

    <div class="alert alert-dismissible alert-success">
        <h2>
            <strong>Developed by:</strong>
            <br />
            <strong>Hassan Tahir</strong>
            <br />
        </h2>
        <h3>
            <strong>BITF12A032</strong>
        </h3>
        <br />
    </div>

</center>