@{
    ViewBag.Title = "CustomerView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:100px">


    <div class="col-xs-8">
        <h2 style="color:white">Customer Info</h2>
        <br />
        <br />
        <center>
            <div>
                <form action="~/Home/RegisterTickets" method="get">
                    <table style="color:gray">

                        <tr>
                            <td>Customer Name :</td>
                            <td><input type="text" name="name" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>Customer Address :</td>
                            <td><input type="text" name="addr" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>Customer Phone No. :</td>
                            <td><input type="text" name="phone" class="form-control" /></td>
                        
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td><input type="submit" class="btn-send" value="Submit" name="btnsubmit" /></td>
                        </tr>
                    </table>
                    <input type="hidden" value="@ViewBag.mid" name="mid" />
                </form>
            </div>


        </center>
    </div>
</div>