@{
    ViewBag.Title = "InvalidUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="color:gray;margin-top:50px">

    <h1>Invalid Username or Password</h1>
    <a href="Index">Back to Home Page</a>
</div>
