@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="login-body">

    <div class="container" style="margin-top:50px;width:200px;height:100px">
        <h2 style="color:gray">Login</h2>
        <form class="login-form" method="post" action="AdminPanel">
            
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" placeholder="Username" name="user" autofocus>
                    
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" placeholder="Password" name="pass">
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                

            </div>
        </form>
    </div>

</div>