
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="margin-top:70px">

    <h3 style="color:gray">@ViewBag.Status</h3>
    <a href="~/Home/Index">Back to Home</a>
</div>